# Auto detect text files and perform LF normalization
* text=auto
*.data filter=lfs diff=lfs merge=lfs -text
*.data.gz filter=lfs diff=lfs merge=lfs -text
*.wasm.gz filter=lfs diff=lfs merge=lfs -text
*.js.gz filter=lfs diff=lfs merge=lfs -text
